.container-1, .container-2, .container-3, .container-4, .container-5 {
	display: flex;
}

.control-panel {
	display: flex;
	align-items: center;	
}

footer {
	display: flex;
	justify-content: center
}
