
body {
	font-family: 'Montserrat', sans-serif;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.site-container {
	width: 60%;
	min-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

header {
	margin-top: 30px;
	margin-bottom: 30px;
}

.control-panel {
	margin-top: 20px;
	margin-bottom: 10px;	
}

.control-panel h3 {
	margin-right: 10px;
}

.control-panel .btn {
	cursor: pointer;
	background-color: orange;
	margin-right: 10px;
	padding: 8px 10px;
	border-radius: 3px;	
}

.control-panel .btn:hover {
	background-color: darkorange;
}

.container-1, .container-2, .container-3, .container-4, .container-5 {
	background-color: #eee;
	min-height: 50px;	
	padding: 15px;
}

.container-2 {
	width: 30%;
}

.box {
	background-color: #32CD32;
	min-height: 20px;
	min-width: 20px;
	width: 50px;
	height: 50px;	
	margin: 3px;
	text-align: center;
	line-height: 50px;
	color: white;
}

.container-3 > div:first-child {
	width: 120px;
}

.container-3 > div:last-child {
	width: 120px;
}

.container-4 {
	min-height: 110px;		
}


.container-4 .box {
	height: auto;
	width: auto;	
}

.container-4 > div:first-child {	
	min-height: 60px;
	min-width: 60px;
}

.container-4 > div:nth-child(2) {
	min-height: 75px;
	min-width: 100px;
}

.container-4 > div:nth-child(3) {	
	min-height: 80px;
	min-width: 60px;
}

.container-4 > div:last-child {
	min-width:70px;	
}

.container-5 {
	height: 240px;
	width: 60%;	
}

.container-5 .box {
	min-width: 50px;
}

.container-5 > div:nth-child(2) {
	width: 75px;
}

.container-5 > div:nth-child(5) {
	width: 130px;
}

.container-5 > div:nth-child(7) {
	width: 110px;
}

.container-5 > div:nth-child(8) {
	width: 90px;
}

.container-5 > div:nth-child(10) {
	width: 110px;
}

.container-5 > div:nth-child(11) {
	width: 95px;
}

.container-5 > div:nth-child(13) {
	width: 140px;
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
}